.loginWrapper {
    display: inline-flex;
    width: 41rem;
    justify-content: center;
    background-color: #fe9901;
    border-radius: 3rem;
  }

  .rightBox {
    display: flex;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .field {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    width: 100%;
    border: none;
}

.input {
    display: flex;
    width: 25rem;
    padding: 0.400rem 0.400rem 0.400rem 0.9rem;
    gap: 0.425rem;
    border-radius: 0.25rem;
    border: 1px solid var(--borda-input, #D9D9D9);
    background: #F9F9F9;
    outline: none;

    color: #545454;
    font-size: 0.9rem;
    font-family: 'Roboto';
    font-weight: 400;
    /* line-height: normal; */
}

.label {
    display: flex;
    flex-direction: column;
    color: #314573;
    font-size: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0.00938rem;
}

.titleLogin {
  font-family: 'Roboto';
  color: #314573;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn {
  display: inline-flex;
  width: 90%;
  height: 2.5rem;
  padding: 0.625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background: #314573;
  border: 0px solid var(--borda-input, #D9D9D9);

  color: #ff8901;
  font-size: 0.875rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.07813rem;
}

.btn:hover {
  background-color: #142855;
  color: #f36e1c;
  cursor: pointer;
}